<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>录入参数页</title>
</head>
<body>

<fieldset>
    <h4>这是一大片说明</h4>
</fieldset>

<br>

<fieldset>
    <form>
        <div>-- 接口请求配置 --</div>
        <div>接口名称：<input type="text" class="form-control"></div>
        <div>请求URL：<input type="text" class="form-control"></div>
        <div>请求方式：<input type="text" class="form-control"></div>
        <div>请求入参：<input type="text" class="form-control"></div>
        <div>备注：<input type="text" class="form-control"></div>
        <div>
            <button>添加</button>
        </div>
    </form>
</fieldset>

<br>

<fieldset>
    <a href="mainpage"> <- 返回主页</a>
    <a href="#">跳转(待定) -> </a>
</fieldset>

</body>
</html>