<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML学习例子</title>
</head>

<body>
    <fieldset>
        <fieldset>
            <a href="/funLife/mainpage" id="link1">返回主页面</a>
            <a href="/funLife/mainpage" id="link2" title="悬浮显示信息" target="_self">返回主页面</a>
            <a href="/funLife/mainpage" id="link2" title="新开页面" target="_blank">新开主页面</a>
        </fieldset>
    </fieldset>

    <br>
    <fieldset>
        <!-- 传统布局练习： -->
        <table width="800" height="800" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
                <td width="260" valign="top" bgcolor="#f2f2f2">
                    <table border="0" width="200" height="400" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="100"></td>
                        </tr>
                        <tr>
                            <td align="right"><img src="/static/images/gg.jpg"></td>
                        </tr>
                        <tr>
                            <td align="right">张大山</td>
                        </tr>
                        <tr>
                            <td align="right"> 18711111111</td>
                        </tr>
                        <tr>
                            <td align="right">123456789@qq.com</td>
                        </tr>
                    </table>
                </td>
                <td width="30"></td>
                <td width="480" valign="top">
                    <table width="480" border="0" ellpadding="0" cellspacing="0">
                        <tr>
                            <td height="80"></td>
                        </tr>
                        <tr>
                            <td align="right"> <img src="/static/images/简历图.jpg"></td>
                        </tr>
                    </table>
                    <hr />
                    <br />
                    <br />

                    <table width="480" border="0" height="100" ellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2"><b>个人基本情况</b></td>
                        </tr>
                        <tr>
                            <td><b>姓名：阿三</b></td>
                            <td><b>籍贯：天堂9号</b></td>
                        </tr>
                        <tr>
                            <td><b>性别：男</b></td>
                            <td><b>身高：1.888</b></td>
                        </tr>
                        <tr>
                            <td><b>名族：汉</b></td>
                            <td><b>体重：9000kg</b></td>
                        </tr>
                        <tr>
                            <td><b>出生日期：1888-5-9</b></td>
                            <td><b>电话：1234567</b></td>
                        </tr>
                        <tr>
                            <td><b>现居地：天堂</b></td>
                            <td><b>专业：工业设计</b></td>
                        </tr>
                    </table>

                    <br />
                    <br />

                    <table width="480" border="0" height="100" ellpadding="0" cellspacing="0">
                        <tr>
                            <td><b>教育背景及工作经历</b></td>
                        </tr>
                        <tr>
                            <td><b>2008.09-2011.06 哒哒哒哒</b></td>
                        </tr>
                        <tr>
                            <td><b>2011.03-2012.09 范德萨范德萨发的</b></td>
                        </tr>
                    </table>

                    <br />
                    <table width="480" border="0" height="100" ellpadding="0" cellspacing="0">
                        <tr>
                            <td><b>所获荣誉</b></td>
                        </tr>
                        <tr>
                            <td><b>2008.09-2011.06 打发斯蒂芬</b></td>
                        </tr>
                        <tr>
                            <td><b>2011.03-2012.09 大打算打算打</b></td>
                        </tr>
                    </table>
                </td>
                <td width="30"></td>
            </tr>
        </table>
    </fieldset>
    <br>

    <fieldset>
        <h4> 表格学习: </h4>
        <table border="1" width="700" height="200" align="center">
            <tr>
                <th colspan="5">这行是th标签用法,仅用作表头,有默认格式</th>
            </tr>

            <tr>
                <td align="center" width="15%">此格居中显示</td>
                <td align="left" width="25%">此格靠左对齐</td>
                <td align="right" width="15%">此格靠右对齐</td>
                <td width="25%">最长的行指定格子大小 </td>
                <td rowspan="6" width="20%"> 设置单元格垂直合并，设置值是数值</td>
            </tr>

            <tr>
                <td valign="top">此格靠顶部对齐</td>
                <td><img src="/static/images/mm1.jpg" alt="产品图片(可重命名恢复)" /></td>
                <td>性别</td>
                <td></td>
            </tr>

            <tr>
                <td>名族</td>
                <td></td>
                <td>出生日期</td>
                <td></td>
            </tr>

            <tr>
                <td>政治面貌</td>
                <td></td>
                <td>健康情况</td>
                <td></td>
            </tr>

            <tr>
                <td>籍贯</td>
                <td></td>
                <td>学历</td>
                <td></td>

            </tr>

            <tr>
                <td>电子邮箱</td>
                <td></td>
                <td>联系电话</td>
                <td></td>
            </tr>

        </table>
    </fieldset>

    <fieldset>
        <h1> 1级标题</h1>
        <h2> 2级标题</h2>
        <h3> 3级标题</h3>
        <h4> 4级标题</h4>
        <h5> 5级标题</h5>
        <h6> 6级标题</h6>

        <p> HTML是 HyperText Mark-up Language 的首字母简写，意思是超文本标记语言，超
            文本指的是超链接，标记指的是标签，是一种用来制作网页的语言，这种语言由一个个的
            标签组成，用这种语言制作的文件保存的是一个文本文件，文件的扩展名为html或者htm。
        </p>

        <p>一个html文件就是一个网页，html文件用编辑器打开显示的是文本，可以用文本的方
            式编辑它，如果用浏览器打开，浏览器会按照标签描述内容将文件渲染成网页，显示的网
            页可以从一个网页链接跳转到另外一个网页。
        </p>

        <p>
            html字符实体: 空格 & n b s p ; 小于号 和 大于号 的字符实体为 & l t ; 和 & g t ;
        </p>

        <div>HTML是 HyperText Mark-up Language 的首字母简写，意思是超文本标记语言，超
            文本指的是超链接，标记指的是标签，是一种用来制作网页的语言，这种语言由一个个的
            标签组成，用这种语言制作的文件保存的是一个文本文件，文件的扩展名为html或者htm。
        </div>

        <span>sapn样式：用这种语言制作的文件保存的是一个文本文件，文件的扩展名为html或者htm。</span>
    </fieldset>

    <fieldset>
        <div>
            1、<em> em 标签 行内元素，表示语气中的强调词 </em><br />
            2、<i> i 标签 行内元素，表示专业词汇</i><br />
            3、<b> b 标签 行内元素，表示文档中的关键字或者产品名</b><br />
            4、<strong> strong 标签 行内元素，表示非常重要的内容</strong><br />
        </div>

        <a href="resultShow" title="鼠标悬停显示的汉字">这是一个链接标签</a> <br />
        <a href="#">缺省链接</a> <br />
        <a href="resultShow" title="鼠标悬停显示的汉字"><img src="/static/images/mm1.jpg" alt="产品图片" /></a> <br />


        <img src="/static/images/mm1.jpg" alt="产品图片" />
    </fieldset>

    <fieldset>
        <div>有序列表：</div>
        <ol>
            <li>列表文字一</li>
            <li>列表文字二</li>
            <li>列表文字三</li>
        </ol>
        <!--   快捷键 ol>li*4 -->
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>

        <div>无序列表：</div>
        <ul>
            <li><a href="#">新闻标题一</a></li>
            <li><a href="#">新闻标题二</a></li>
            <li><a href="#">新闻标题三</a></li>
        </ul>
    </fieldset>

    <fieldset>
        <h3>前端三大块</h3>
        <dl>
            <dt>html</dt>
            <dd>负责页面的结构</dd>

            <dt>css</dt>
            <dd>负责页面的表现</dd>

            <dt>javascript</dt>
            <dd>负责页面的行为</dd>

        </dl>
    </fieldset>
</body>

</html>