<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var aList = new Array(0, 1, 2, 3, 4, 5);
        alert(aList[1]);
        console.log(aList[3])

        var aList022 = [0, 2, 4, 6];
        console.log(aList022[1]);
        alert(aList022.length);
        for (var x of aList022) {
            console.log(x);
        }

    </script>

    <style>
        p {
            color: blue;
            font-size: 30px;
        }
    </style>
</head>

<body>

    <p>就是玩玩咯</p>
</body>

</html>