<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>流水线接口结果展示</title>
</head>

<body>
<h1>{{msg}}</h1>

<table border="1">
    <tr>
        <th><input type="checkbox" οnclick="swapCheck()"></th>
        <th>name</th>
        <th>job_uuid</th>
        <th>owner_uuid</th>
        <th>owner_name</th>
        <th>last_run_time</th>
    </tr>

    {% for i in result %}
    <tr>
        <td><input type="checkbox"></td>
        <td>{{i.name}}</td>
        <td>{{i.job_uuid}}</td>
        <td>{{i.owner_uuid}}</td>
        <td>{{i.owner_name}}</td>
        <td>{{i.last_run_time}}</td>
    </tr>
    {% endfor %}
</table>


</body>

</html>