<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网页换肤</title>
    <link rel="stylesheet" href="/static/css/skin01.css" type="text/css" id="link01">
    <script type="text/javascript">
        window.onload = function () {
            var oBtn01 = document.getElementById('btn01');
            var Obtn02 = document.getElementById('btn02');

            var oLink = document.getElementById('link01')

            oBtn01.onclick = function () {
                oLink.href = "/static/css/skin01.css";
            }

            Obtn02.onclick = function () {
                oLink.href = "/static/css/skin02.css";
            }
        }
    </script>
</head>

<body>
    <input type="button" name="" value="皮肤一" id="btn01">
    <input type="button" name="" value="皮肤二" id="btn02">

</body>

</html>


<!-- 1 ####################################################################### -->
<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        window.onload = function () {
            var oBtn = document.getElementById('btn01');

            // 匿名函数绑定事件
            oBtn.onclick = function () {
                var oDiv = document.getElementById('div1');
                oDiv.style.color = 'red';
                oDiv.style.fontSize = '30px';
            };

            // oBtn.onclick = fnChange;

            // function fnChange() {
            //     var oDiv = document.getElementById('div1');
            //     oDiv.style.color = 'red';
            //     oDiv.style.fontSize = '30px';
            // }
        }
    </script>
</head>

<body>
    <FIeldset>
        <a href="/funLife/mainpage" id="link2" title="悬浮显示信息" target="_self">返回主页面</a>
    </FIeldset>
    <div id='div1'>这是个div元素</div>
    <input type="button" name="" value="改变div" id='btn01'>
</body>

</html> -->

<!-- 2 ####################################################################### -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        window.onload = function () {
            var oInput1 = document.getElementById('input1');
            var oInput2 = document.getElementById('input2');
            var oBtn = document.getElementById('btn');

            oBtn.onclick = function () {
                // 强制转换成int
                var iVal01 = parseInt(oInput1.value);
                var iVal02 = parseInt(oInput2.value);
                alert(iVal01 + iVal02);
                var iRlt = iVal01 + iVal02;

            }
        }
    </script>
</head>

<body>
    <input type="text" name="" id="input1">
    +
    <input type="text" name="" id="input2">
    <input type="button" name="" id="btn" value="=">
</body>

</html> -->

<!-- 3 ####################################################################### -->