<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>===接口测试===</title>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
    <h3 >单接口调试</h3>
    <form action="/kdapp/index" method="post">
        <table>
            <tr><td>请求地址：</td> <td> <input type="text" name="url" /> <br/> </td> </tr>
            <tr> <td>请求方法:</td><td>
            <input type="radio" name="fun" value="post" checked/>POST
            <input type="radio" name="fun" value="get" />GET </td> </tr>  
            <tr> <td>入参类型：</td>
            <td> <select name="leixin">
            <option value="json">Json</option>
            <option value="xml">XML</option>
            <option value="date">Data</option>
            </select> </td> </tr> 
            <tr> <td>调试入参:</td>
            <td> <textarea name="testdate" style="width:300px;height:160px;"></textarea> </td> </tr> 
            <tr> <td>预期调试结果：</td> <td> <input type="text" name="exr" /> <br/>  </td>  </tr>
            <tr> <td>实际调试结果：</td> <td> <label>{{ data1 }}</label><br/> </td> </tr> <tr>
            <td>测试结论：</td>
            <td> <label>{{ data }}</label><br/> </td> </tr> <tr> 
            <td> <input type="submit" value="调试" /> </td> </tr>
        </table>
    </form>
</body>
</html>
